body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
}



#mainTitle{
    font-size: 5rem;
    text-align: center;
    font-weight: 800;
    color: transparent;
    font-size:6rem;
    background: url("img/universe-7325913_1920.jpg");
    background-position: 40% 50%;
    -webkit-background-clip: text;
    position:relative;
    text-align:center;
    letter-spacing: -4px;
    margin: 1rem;
    color: transparent;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

@keyframes animateBackground {
    from {background-position: 0 0;}
    to {background-position: 100% 100%;}
  }
  
  #mainTitle {
    background-image: url('img/universe-7325913_1920.jpg');
    animation: animateBackground 200s linear infinite;
  }

.listItem{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr 1fr 0.5fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 1rem;
}

#menuRow{
    background: #fff;
    display: grid;
    grid-template-columns: 8fr 1fr;
    align-items: center;
}

#todoForm {
  display: grid;
  grid-template-columns: 5.5fr 2fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  gap: 1rem;
}

/* this puts the main add button to the left side of the second row */
#todoForm > :nth-child(n+6):nth-child(-n+10) {
  justify-self: start;
}

#todoInput, #deadlineInput, .submitTodo {
    font-size: 1.3rem;
}

#todoInput{
  width:99%;
}

#todoList input{
    font-size: 1.3rem;
    width: 100%;
}

#topPriorityInput{
  font-size: 1.3rem;
  width: 1.3rem;
}

#deadlineInput{
    opacity: 0.4;
}

.done {
    opacity: 0.3;
}

.toDoText{
    font-size: 1.3rem;
    color: darkblue;
    grid-column: span 3;
}

.votes{
    color: darkolivegreen;
}

ul#todoList {
    list-style-type: none;
    padding: 0;
    border: 4px #9f9f9f solid;
}

#backUpAndRestoreButtonsContainer{
  text-align: right;
}

li {
    /* No background color when not hovered */
    border: none;
  }
  
  li:hover {
    /* Background color when hovered */
   border: 1px rgba(0, 0, 0, 0.1) solid; /* This is just an example color, you can replace it with your preferred color */
  }

  div#detailsContainer {
    width: 100%;
}
  textarea.detailsTextarea {
    width: 100%;
    min-height: 5rem;
}

  /* CUSTOM MODAL */

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%; /* Adjust this if you want */
    max-width: 500px; /* Adjust this if you want */
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.colorBox {
  height: 1rem;
  width: 1rem;
}


/* BUTTONS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

/* CUSTOM CHECKBOX */

.large-checkbox {
  transform: scale(1.5);
  /* Adjust this value to change the size of the checkbox */
}

#priorityCheckWrap {
  align-items: center;
  text-align: center;
}

#priorityCheckWrap label {
  white-space: nowrap;
  margin: 0.5rem;
}


/* CUSTOM COLOR DROPDOWN */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;

}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.color-option {
  height: 20px;
}

.dropbtn {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  opacity: 0.4;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}


/* HAMBURGER MENU */

#hamburgerMenuButton {
  position: absolute;
  top: 10px;
  left: 10px;
}

#hamburgerMenu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100vh;
  background: #f4f4f4;
  padding: 20px;
  transition: left 0.3s ease;
}

#hamburgerMenu.hamburgerMenuVisible {
  left: 0;
}

.menu a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

.menu a:hover {

  text-decoration: underline;
}

#closeMenuButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
}




/* MENU 2 */




* {

  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menuWrap {
    position: absolute;
    top: 2rem;
    align-items: center;
    min-height: 50px;
}

.menu>li {
  display: flex;
  margin: 0 1rem;
  overflow: hidden;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #222;
}

.menu li a {
  color: #f1f1f1;
}

.menu-button-container {
  padding-top: 1rem;
  display: flex;
/*   height: 100%; */
  cursor: pointer;
  flex-direction: column;
/*   justify-content: center;
  align-items: center; */
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #9fa9f1;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu {
  max-width: 40rem;
  top: 1rem;
  left: -1.5rem;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 11;
  position: relative;
}

 #menu-toggle~.menu li {
   height: 0;
   margin: 0;
   padding: 0;
   border: 0;
   transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
 }

 #menu-toggle:checked~.menu li {
   border: 1px solid #333;
   height: 3.5em;
   padding: 0.5em;
   transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
 }

 

 .menu>li:not(:last-child) {
   border-bottom: 1px solid #444;
 }

 .note  {
      margin-left: 1rem;
      opacity: 0.5;
    }
 


.info-button {
      border-radius: 50%;        /* Make the button round */
      width: 30px;               /* Set a fixed width */
      height: 30px;              /* Set a fixed height */
      text-align: center;        /* Center the "i" horizontally */
      line-height: 30px;         /* Center the "i" vertically */
      border: none;              /* Remove default borders */
      background-color: #eee;   /* A light background color */
      cursor: pointer;           /* Change cursor to hand pointer on hover */
  }
  

/* NEW FANCY BUTTON */

.btn{
display: inline-block;
outline: 0;
cursor: pointer;
border: none;
padding: 0 56px;
height: 45px;
line-height: 45px;
border-radius: 7px;
background-color: #0070f3;
color: white;
font-weight: 400;
font-size: 16px;
box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.btn.addDetails{
  background-color: lightslategray;
  padding: 0 20px;
  opacity: 0.4;
}

.dropbtn{
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 20px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }



/* MOBILE */



@media only screen and (max-width: 1100px) {
    /* CSS rules for screens less than 1100px wide go here */

    body{
        padding: 0;
    }

    h1#mainTitle {
      font-size: 4rem;
  }

    #menuRow{
      grid-template-columns: 1fr;
    }
    .listItem{
         
            row-gap: 2rem;
            grid-auto-flow: row dense;
            /* padding-left: 0.2rem; */

        }
    
        .listItem > :nth-child(n+5) {
            grid-column: span 2;
            grid-row: 2;
        }

        /* individual spans for the button to take correct amount of space */
        /* 5th element of the list */
.listItem > :nth-child(5) {
  grid-column: 1 / span 2;  /* spanning the first two columns */
  grid-row: 2;
}

/* 6th element of the list */
.listItem > :nth-child(6) {
  grid-column: 3 / span 2;  /* spanning the next two columns */
  grid-row: 2;
}

/* 7th element of the list */
.listItem > :nth-child(7) {
  grid-column: 5 / span 3;  /* spanning the next three columns */
  grid-row: 2;
}

/* 8th element of the list */
.listItem > :nth-child(8) {
  grid-column: 8 / span 3;  /* spanning the next three columns */
  grid-row: 2;
}

        .button-30{
            margin-bottom: 2rem;
        }

        #todoForm {
          grid-template-columns: 1fr;
          align-items: center;
          justify-items: center;
          padding: 0.5rem;
          gap: 0.5rem;
      }

      .toDoText{
        grid-column: span 7;
      }

      #todoList input{
        grid-column: span 7;
      };

      #deadlineInput{
        opacity: 1;
        width: 90vw;
        -webkit-min-logical-width: 90vw;


    }

    #deadlineInput::before {
      content: "Deadline (optional): ";
      display: block;
    }

    .button-30{
      font-size: 14px;
    }

    span.votes {
      text-align: center;
  }

  #todoForm > :nth-child(n+6):nth-child(-n+10) {
    justify-self: center;
}

}
